@import "./scoot/funciona.css";
@import "./scoot/scoot.css";
@import "./scoot/seja.css";
@import "./scoot/pedala.css";
@import "./scoot/global.css";
@import "./scoot/dados.css";
@import "./scoot/footer.css";
@import "./scoot/tipografia.css";



.introducao img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
    margin-bottom: 55px;
}
.introducao-conteudo{
    max-width: 386px;
    padding-top: 50px;
    padding-left: 40px;
}
.introducao-conteudo a{
    background-color: white;
    border: 1px solid black;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50px;
    color: black;
}
.introducao-conteudo a:hover{
    color: white;
    border: 1px solid white;
    background-color: black;
}

.texto-main{
    background-image:url("scoot-main/assets/bg\ main.png");
    background-size: cover;
    max-width: 896px;
    height: 528px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.texto-main h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.225;
}
.texto-main h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 896px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
    margin-bottom: 55px;
}
.header-menu{
    display: flex;
    gap: 50px;
}
.header-menu a{
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    display: inline-block;
}
.header-menu a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background: black;
    margin-top: 4px;
    transition: 0.3s;
}
.header-menu a:hover::after{
    width: 100%;
}

.cards{
    display: flex;
    padding-top: 40px;
    padding-bottom: 100px;
    font-family: 'DM Sans', sans-serif;
    justify-content: center;

}
.cards ul{
    background: #CC5252;
    border-radius: 8px;
    box-shadow: 6px 6px black;
    max-width: 300px;
    padding: 15px 20px;
    margin-right: 20px;

}
.c-h1-rede h1{
    padding-right: 71px;
}
.c-h1-rede p{
    padding-right: 20px;
}
.c-img-rede{
    margin-left: 112px;
    margin-top: 12px;
}
.c-img-app{
    margin-left: 220px;
}
.c-h1-app{
    padding-right: 71px;
}

@media(max-width:800px){
    .header-menu{
      gap: 20px;
    }
    .header{
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 48px;
    }
    .header-menu a::after{
        display: none;
    }
    .cards{
        padding-bottom: 30px;
    }
    .c-funciona h1{
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 116%;
        margin: 0px;
    }
    .c-funciona img{
        width: 45px;
        height: 65px;
        padding-left: 120px;
    }
    .c-funciona p{
        font-size: 12px;
    }
    .cards ul{
        height: 190px;
        width: 190px;
        margin-right: 20px;

    }
    .c-h1-rede h1{
        font-size: 16px;
        padding-right: 20px;
        margin: 0px;
    }
    .c-h1-rede p{
        font-size: 12px;
    }
    .c-h1-rede img{
        width: 100px;
        margin-top: 15px;
    }
    .c-h1-app{
        font-size: 16px;
        padding: 0px;
        margin: 0px;
    }
    .c-p-app{
        font-size: 12px;
    }
    .c-img-app{
        width: 36px;
        height: 72px;
        margin-left: 125px;
    }
    .c-img-rede{
        margin-left: 90px;
    }
}
