body{
    margin: 0px;
}
.header-ptpt{
    background-color: orange;
    position: fixed;
    width: 100vw;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a{
    text-decoration: none;
}