.c-pedala{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    margin-bottom: 100px;
}
.c-pedala-text{
    max-width: 500px;
    padding-right: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    border: solid 3px;
    border-radius:8px 0px 0px 8px;
}
.c-pedala-img{
    max-width: 500px;
    background-color: #FFE501;
    border: solid 3px;
    border-radius: 0px 8px 8px 0px;
}

.c-pedala-img img{
    width: 212px;
    height: 224px;
    padding-left: 125px;
    padding-right: 111px;
    padding-top: 60px;
}
.c-pedala h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 122%;
    padding-left: 60px;
    margin: 0px;
    margin-top: 78px;
}

.c-pedala-text p{
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 78px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

@media(max-width:800px){
    .c-pedala-text p{
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 78px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%; 
    }
    .c-pedala h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 122%;
        padding-left: 20px;
        margin: 0px;
        margin-top: 78px;
    }
    .c-pedala-text{
        max-width: 330px;
        padding-right: 60px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        border: solid 3px;
        border-radius:8px 0px 0px 8px;
    }
    .c-pedala-img{
        max-width: 300px;
        background-color: #FFE501;
        border: solid 3px;
        border-radius: 0px 8px 8px 0px;
        padding-left:30px;
        padding-right:30px;
        padding-top: 50px;
    }
    .c-pedala-img img{
        width: 150px;
        height: 170px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
    }
    .c-pedala{
        margin-left: 50px;
        margin-bottom: 50px;
    }